
<div class="bg-img-container">
  <img class="img-responsive" src="http://res.cloudinary.com/dbgvixfy4/image/upload/v1476756893/background_kgjpbs.jpg"/>
</div>

<div class="third_background container">
  <div class="col-md-4 col-xs-4">
    <img class="img-responsive center-block workflow-img" alt="Select Your Specialist" src="http://res.cloudinary.com/dbgvixfy4/image/upload/v1476756877/doc_hev7wg.png"/>
    <p class="workflow-txt text-center">Select Specialist</p>
  </div>
  <div class="col-md-4 col-xs-4">
    <img class="img-responsive center-block workflow-img" src="http://res.cloudinary.com/dbgvixfy4/image/upload/v1476756876/payment_v9f9sw.png"/>
    <p class="workflow-txt text-center">Make Payment</p>
    <p class="workflow-txt text-center">(One Time)</p>
  </div>
  <div class="col-md-4 col-xs-4">
    <img class="img-responsive center-block workflow-img" src="http://res.cloudinary.com/dbgvixfy4/image/upload/v1476756877/connect_qn5lzt.png"/>
    <p class="workflow-txt text-center">Connect With Specialist</p>
  </div>
</div>

<footer class="footer">
  <p>
    Conceptualized and Created by Arpan Bhalla © 2016 Copyright
  </p>
</footer>
