
<div class = "background_image">
  <button class="btn btn-primary btn-lg" id="how_it_works">How it works</button>
</div>

<div class="third_background">
  <div class="first_half">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eos molestiae culpa non totam a voluptas, enim suscipit eius recusandae doloribus sit quis pariatur porro blanditiis, maiores sequi, repellendus rem.</p>
  </div>
</div>

<div class ="background_text">

  <p> <span><h3>Step 1 </h1> <h4>Select the Doctor </h4></span> <br> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo adipisci ex perspiciatis quia delectus laboriosam quod minus tempora eius illo vel laborum molestias ea, libero nobis rerum architecto excepturi cupiditate.
  </p>

  <p> <span><h3>Step 2 </h1> <h4>Pay the Doctor the fees( $20 ) </h4></span> <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam consectetur veniam facere quam quidem fuga illo aperiam delectus, illum, quibusdam, esse soluta rerum explicabo quas, minus architecto quod eum minima.</p>

  <p> <span><h3>Step 3 </h1> <h4> Shoot direce messages to Doctor </h4></span> <br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam accusantium, repudiandae rerum id, numquam eligendi ratione aliquam adipisci blanditiis praesentium excepturi? Quaerat consequatur inventore pariatur natus repellendus, odio praesentium eum.</p>
</div>
  <div id="anything" class="working_flow"></div>

<footer class="footer">
  <p>
    Conceptualized and Created by Arpan Bhalla © 2016 Copyright
  </p>
</footer>
