
<div class = "background_image">
  <button class="btn btn-primary btn-lg" id="how_it_works">How it works</button>
</div>

<div class="third_background">
  <div class="first_half">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum eos molestiae culpa non totam a voluptas, enim suscipit eius recusandae doloribus sit quis pariatur porro blanditiis, maiores sequi, repellendus rem.</p>
  </div>
</div>

<div class ="background_text">

  <div id="anything" class="working_flow"></div>

<footer class="footer">
  <p>
    Conceptualized and Created by Arpan Bhalla © 2016 Copyright
  </p>
</footer>
