<div class="bg-img-container">
  <div class="header-content">
    <h1>Connect with specialists from across the globe</h1><br>
    <p> Your GP thinks you need to talk to a specialist, the next available appointment is a few months away... </p>
      <p>In three simple steps, get a second opinion for your medical condition!</p><br>
    <a href="#workflow" class="btn btn-primary btn-homepage">Find Out More</a>
  </div>
</div>

<div id="workflow" class="workflow-bg container">
  <p>
    Drowning in worry while waiting for a specialist's appointment?
  </p><br>
  <p>
    <%= link_to "Sign up", new_user_path %> or <%= link_to "Log in", login_path %> to find a specialist online<br>
  </p><br>
  <div class="col-md-4 col-xs-4">
    <img class="img-responsive center-block workflow-img" alt="Select Your Specialist" src="http://res.cloudinary.com/dbgvixfy4/image/upload/v1476756877/doc_hev7wg.png"/>
    <p class="workflow-txt text-center">Select Specialist</p>
  </div>
  <div class="col-md-4 col-xs-4">
    <img class="img-responsive center-block workflow-img" src="http://res.cloudinary.com/dbgvixfy4/image/upload/v1476756876/payment_v9f9sw.png"/>
    <p class="workflow-txt text-center">Make Payment</p>
    <p class="workflow-txt text-center">(One Time)</p>
  </div>
  <div class="col-md-4 col-xs-4">
    <img class="img-responsive center-block workflow-img" src="http://res.cloudinary.com/dbgvixfy4/image/upload/v1476756877/connect_qn5lzt.png"/>
    <p class="workflow-txt text-center">Connect With Specialist</p>
  </div>
</div>
