
<div class="bg-img-container">
  <img class="img-responsive" src="background.jpg"/>
  <!-- <button class="btn btn-primary btn-lg" id="how_it_works">How it works</button> -->
</div>

<div class="third_background container">
  <div class="col-md-4 col-xs-4">
    <img class="img-responsive center-block workflow-img" alt="Select Your Specialist" src="doc.png"/>
    <p class="workflow-txt text-center">Select Specialist</p>
  </div>
  <div class="col-md-4 col-xs-4">
    <img class="img-responsive center-block workflow-img" src="payment.png"/>
    <p class="workflow-txt text-center">Make Payment</p>
    <p class="workflow-txt text-center">(One Time)</p>
  </div>
  <div class="col-md-4 col-xs-4">
    <img class="img-responsive center-block workflow-img" src="connect.png"/>
    <p class="workflow-txt text-center">Connect With Specialist</p>
  </div>
</div>

<footer class="footer">
  <p>
    Conceptualized and Created by Arpan Bhalla © 2016 Copyright
  </p>
</footer>
