<div class="container-fluid">
  <div class="modal-body row col-md-offset-4 col-md-4 text-center"><br>
    <h1> Ongoing Consultations</h1>
  </div>
  <div class="col-md-offset-3 col-md-6 text-center"><br>
    <div class="btn-group-vertical center-block" role="group" aria-label="...">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <td>
            <%= link_to conversation_messages_path(conversation), class: 'btn btn-primary btn-large' do %>
              <%if current_user.doctor?%>
                <span class="glyphicon glyphicon-envelope"></span><%=" #{recipient.firstname.capitalize}"%>
              <%else%>
                <span class="glyphicon glyphicon-envelope"></span><%=" Dr. #{recipient.firstname.capitalize}"%>
              <%end%>
            <% end %>
          </td><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
