<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Ongoing Consultations</h3>
  </div>
  <div class="panel-body">
    <div class="btn-group-vertical" role="group" aria-label="...">
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <td>
            <%= link_to conversation_messages_path(conversation), class: 'btn btn-primary' do %>
              <span class="badge">3</span><%=" #{recipient.firstname}"%>
            <% end %>
          </td><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
