
<!-- <%#= link_to root_path %> -->
<!--
#  firstname       :string
#  lastname        :string
#  email           :text
#  dob             :date
#  image           :text
#  password_digest :text -->
<%if is_admin? && @user.doctor?%>
<div class="create-new">
  <h1>Edit Doctor Profile</h1>
  <%= render :partial => 'doctor_form' %>
</div>
<%else%>
<div class="create-new">
  <h1>Edit Profile</h1>
  <%= render :partial => 'user_form' %>
</div>
<%end%>
