<h1>Users#edit</h1>

<%= link_to root_path %>
<!-- #  username        :string
#  firstname       :string
#  lastname        :string
#  email           :text
#  dob             :date
#  image           :text
#  password_digest :text -->
<%= render :partial => 'form' %>
