<%if is_admin? %>
  <div class="create-new">
    <h1>Create Doctor Profile</h1>
    <%= render :partial => 'doctor_form' %>
  </div>
<%else%>
  <div class="create-new">
    <h1>New User Profile</h1>
    <%= render :partial => 'user_form' %>
  </div>
<%end%>
