// Place all the styles related to the Doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
    width: 14%;
    height: 150px;
    border-radius: 54%;
    border: 2px black solid;
}
